$hover-color: #223;
$selected-color: #224;

body {
  background: black;
  color: white;
  font-family: Menlo, Courier, monospace;
  padding: 20px;
  image-rendering: pixelated;
}

button {
  font-family: Menlo, Courier, monospace;
  background: black;
  color: white;
  padding: 1ch 2ch;
  border: 1px solid white;
  cursor: pointer;

  /* Added for battle buttons */
  margin-right: 10px;

  &:hover {
    background-color: $hover-color;
  }
}

p {
  margin-top: 32px;
}

@keyframes flash {
  to,
  30% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.scale-in {
  animation-timing-function: ease-in-out;
  animation-name: scale-in;
}

@keyframes scale-out {
  to {
    transform: scale(0);
  }
}

.scale-out {
  animation-timing-function: ease-in-out;
  animation-name: scale-out;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.fast {
  animation-duration: 200ms;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4ch;
}

.server {
  text-align: center;
  width: fit-content;
  cursor: pointer;
  padding: 1ch;

  p {
    margin: 0;
  }

  .sprite {
    margin: 0 auto;
    margin-bottom: 1ch;
  }

  .statusCode {
    padding-right: 2ch;
  }

  &:hover {
    background-color: $hover-color;
  }
}

.grid {
  & > * {
    border: 2px dashed white;
    padding: 8px;
  }

  margin-bottom: 4ch;

  .selected {
    border: 4px solid yellow;
    z-index: 2;
    padding: 6px;
  }

  .move-target {
    border: 4px solid cyan;
    z-index: 1;
    padding: 6px;
  }

  .attack-target {
    border: 4px solid red;
    z-index: 1;
    padding: 6px;
  }
}

.unit-info {
  width: fit-content;

  .sprite {
    margin: 1ch;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0.5ch 1ch;
    cursor: pointer;
  }

  // li:hover {
  //   // width: fit-content;
  //   background-color: $hover-color;
  // }

  .selected {
    background-color: $selected-color;
  }
}

main {
  max-width: 80ch;
}
